<?xml version="1.0" encoding="utf-8"?>
<!--配置复制到webconfig中-->
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserInfoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/UserInfoService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserInfoService" contract="IUserInfoService"
                name="BasicHttpBinding_IUserInfoService" />
        </client>
    </system.serviceModel>
</configuration>